USE [master]
GO
/****** Object:  Database [prueba]    Script Date: 26/03/2018 9:09:53 p. m. ******/
CREATE DATABASE [prueba] ON  PRIMARY 
( NAME = N'prueba', FILENAME = N'E:\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\prueba.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'prueba_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\prueba_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prueba]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 26/03/2018 9:09:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
